/*

This page styles both color and format of the HTML page 

*/
body {
  background-image: url("../img/black-and-white-blank-262488.jpg"); 
  width: 960 px;
  font-family: Arial, Helvetica, sans-serif;
  border-style: double;
  border-width: 5px;
  border-color: #DCD0C0;
}

nav {
  width: 960 px;
  height:50px;
  background-color: #DCD0C0;
}  

a {
  margin-right: 30 px;
}

header {
  width: 950px;
  margin: 0;
  height: 130px ;
  background-color: #373737; 
  border-width: 8px; 
  border-style: groove; 
  border-color: #373737 ;
  border-radius: 5px 10px 5px 10px;
}

#fillbox1 {
  width : 960px;
  height: 450px;
}

section {
  background-color: #c0b283;
  z-index: 3;
  float: left;
  width: 300px;
  height: 500px;
  Padding:10px; 
  padding: 10px;
  
}
/* games*/
aside {
  background-color: #DCD0C0;
  z-index: 3;
  float: left;
  width: 300px;
  height: 500px;
  padding: 10px;

}

article {
background-color: #F4F4F4;
z-index: 3;
float: left;
width: 300px;
height: 500px;
padding: 10px ;
}

p {
  font-size: 13;
}

h1 {
  font-size: 36; 
  font-family: 'Covered By Your Grace', cursive;
  color: #c0b283 ;
  padding: 5px;
}

h2 {
  font-size: 24;
  font-family: 'Covered By Your Grace', cursive;
  color: #c0b283 ;
  padding: 5px;
  position: relative;
  right : 20 px;
}

h3 {
background-color: #373737;
  font-family: 'Covered By Your Grace', cursive;
color: #c0b283 ;
font-size: 20 px;
height: 50px; 
}

li {
  margin-bottom:  13px;
}
 ul {
   font-size: 13 px;
 }

.ques {
font-style: bold;
font-size: 15px;
}

.ans {
position: relative; 
right: 15 px;
font-style : oblique;
font-size: 13px; 
margin-bottom: 20px;
}

.job {
  font-style: bold;
  font-size: 20px;
}

#headshot {
  width: 384px;
  float: left;
}