/*

This page styles both color and format of the HTML page 

*/
 body {
  margin: 0px}

header {
  background-color: rgb(154, 158, 145); 
  border-width: 8px; 
  border-style: groove; 
  border-color: black ;
  border-radius: 5px 10px 5px 10px; /* top, right , bottom left */ 
}

h1 {
  font-size: 48; 
  font-family: fantasy; 
  color: red ;
}

h2 {
  font-size: 36;
  color: red ;
}

section {
  border-width: 8px; 
  border-style: groove; 
  border-color: black ;
}

article {
  border-width: 8px; 
  border-style: groove; 
  border-color: black ;
}

h3 {
  margin: 0px
  border-width: 8px; 
  border-style: groove; 
  border-color: black ;
}

p {
  margin: 0px
}
.ques {
  margin: 0px
}

.ans {
  margin: 0px
}
