/*

This page styles both color and format of the HTML page 

*/
body {
  background-image: url("../img/black-and-white-blank-262488.jpg"); 
  width: 960 px;
}

nav {
  width: 960 px;
  background-color: #373737;
  color: #DCD0C0;
}  

header {
  width: 950px;
  margin: 0;
  ;
  height: 130px ;
  background-color:   #373737; 
  border-width: 8px; 
  border-style: groove; 
  border-color: #373737 ;
  border-radius: 5px 10px 5px 10px; /* top, right , bottom left */ 
  text-align: left;
  
  
}

#fillbox1 {
  width : 960px;
  height: 450px;
}

section {
  float: left;
  width: 320px;
  border-width: 0px; 
  padding: 10px;
  border-style: solid; 
  border-color: black ;
}

aside {
  float: left;
  width: 320px;
  border-width: 0px; 
  margin: 0px;
  border-style: groove; 
  border-color: black ;
}

article {
float: left;
width: 320px;
border-width: 4px;
margin: 0px ;
border-style: groove; 
border-color: black ;
}

h1 {
  font-size: 36; 
  font-family: 'Covered By Your Grace', cursive;
  color: #c0b283 ;
  padding: 5px;
}

h2 {
  font-size: 24;
  font-family: 'Covered By Your Grace', cursive;
  color: #c0b283 ;
  padding: 5px;
  position: relative;
  right : 20 px;
}

h3 {
margin: 0px;
border-width: 8px; 
border-style: groove; 

}

h4 {
font-size: 18px;
}

p {
margin: 0px;
}

ul {

}
ol {

}

.ques {
font-style: bold;
font-size: 12px
}

.ans {
margin: 0px;
position : relative; 
right: 15 px;
font-style : oblique;
font-size: 10px; 
}

.job {

}

#headshot {
  width: 384px;
  float: left;
}